<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Diário de Operações</title>
    <link rel="stylesheet" href="/static/css/forms.css">
    <style>
        .text-field {
            width: 100%;
            height: 80px;
            font-weight: bold;
            word-wrap: break-word;
        }

        .seleções {
            width: 100%;
            font-weight: bold;
        }

        .titulo {
            text-align: center;
            font-size: 24px;
        }

        .titulo2 {
            font-size: 18px;
        }

        .emlinha {
            display: inline-block;
            width: 49%;
        }
    </style>
</head>
<body>
    <section>
        <img src="/static/imagem/Imagem%20do%20WhatsApp%20de%202024-07-30%20à(s)%2015.34.28_53f0670b.jpg" alt="Logo da support" id="logo">
        <h1 class="titulo">Relatório Diário de Operações</h1>
        <form action="{{ url_for('submit') }}" method="post">
            <div>
                <h2 class="titulo2">DATA:</h2>
                <p>
                    <input type="date" name="data" id="idata" required>
                </p>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURMA:</h2>
                <select name="turma" id="iturma" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="TURMA ADM">TURMA ADM</option>
                    <option value="TURMA A">TURMA A</option>
                    <option value="TURMA B">TURMA B</option>
                    <option value="TURMA C">TURMA C</option>
                </select>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURNO:</h2>
                <select name="turno" id="iturno" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="ADM">ADM</option>
                    <option value="TURNO B">TURNO B</option>
                    <option value="TURNO C">TURNO C</option>
                    <option value="TURNO D">TURNO D</option>

                </select>
            </div>
            <div>
                <h2 class="titulo2">PROFISSIONAIS PRESENTES:</h2>
                <h3>ENCARREGADOS</h3>
                <p><input type="radio" name="encarregados" value="EDIDELSON SANTOS" id="encarregado"><label for="encarregado_edidelson">EDIDELSON SANTOS</label></p>
                <p><input type="radio" name="encarregados" value="WALISON TAVARES DOS SANTOS" id="encarregado"><label for="encarregado_walison">WALISON TAVARES DOS SANTOS</label></p>
                <p><input type="radio" name="encarregados" value="EVERTON MENDES SOARES" id="encarregado"><label for="encarregado_everton">EVERTON MENDES SOARES</label></p>
                <p><input type="radio" name="encarregados" value="ECTOR ALAN OLIVEIRA DOS SANTOS" id="encarregado"><label for="encarregado_ector">ECTOR ALAN OLIVEIRA DOS SANTOS</label></p>
            </div>
                <h3>ADM</h3>
                <p><input type="checkbox" name="edidelson" id="iedidelson"><label for="iedidelson">EDIDELSON SANTOS | ENCARREGADO DE MECÂNICA</label></p>
                <p><input type="checkbox" name="nadilson" id="inadilson"><label for="inadilson">NADILSON MESSIAS DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="werton" id="iwerton"><label for="iwerton">WERTON ALVES SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="lindurval" id="ilindurval"><label for="ilindurval">LINDURVAL GOMES DO NASCIMENTO | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="maiko" id="imaiko"><label for="imaiko">MAIKO DOUGLAS DA SILVA COSTA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="quiterio" id="iquiterio"><label for="iquiterio">QUITERIO DIONISIO DA SILVA | OPERADOR MANTENEDOR ELÉTRICO</label></p>
                <p><input type="checkbox" name="wevicles" id="iwevicles"><label for="iwevicles">WEVICLES OLIVEIRA BATISTA DOS SANTOS | OPERADOR MANTENEDOR ELÉTRICO</label></p>
                <p><input type="checkbox" name="manoel" id="imanoel"><label for="imanoel">MANOEL MESSIAS DOS SANTOS | SOLDADOR INDUSTRIAL</label></p>
                <p><input type="checkbox" name="humberto" id="ihumberto"><label for="ihumberto">HUMBERTO RODRIGUES DOS SANTOS NETO | CALDEIREIRO INDUSTRIAL</label></p>
                <p><input type="checkbox" name="matheus" id="imatheus"><label for="imatheus">JOSÉ MATHEUS SANTOS SOUZA | AUXILIAR DE OPERAÇÃO</label></p>
                <p><input type="checkbox" name="pedro" id="ipedro"><label for="ipedro">JOÃO PEDRO DA SILVA SANTOS | AUXILIAR DE OPERAÇÃO</label></p>
                <p><input type="checkbox" name="helyel" id="ihelyel"><label for="ihelyel">HELYEL SANTANA SILVA | AUXILIAR DE OPERAÇÃO</label></p>
                <p><input type="checkbox" name="francisco" id="ifrancisco"><label for="ifrancisco">FRANCISCO CICERO DA SILVA | OPERADOR DE EQUIPAMENTOS</label></p>
                <p><input type="checkbox" name="jeova" id="ijeova"><label for="ijeova">JEOVÁ SANTOS SILVA JÚNIOR | OPERADOR DE EQUIPAMENTOS</label></p>

                <h3>TURMA A</h3>
                <p><input type="checkbox" name="walison" id="iwalison"><label for="iwalison">WALISON TAVARES DOS SANTOS | ENCARREGADO DE MECÂNICA</label></p>
                <p><input type="checkbox" name="eraldo" id="ieraldo"><label for="ieraldo">ERALDO PEREIRA SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="adson" id="iadson"><label for="iadson">ADSON ALVES SILVA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="jeizon" id="ijeizon"><label for="ijeizon">JEIZON NUNES SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="mvinicius" id="imvinicius"><label for="imvinicius">MARCOS VINÍCIUS SANTOS DE OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="henrique" id="ihenrique"><label for="ihenrique">JOSÉ HENRIQUE NASCIMENTO SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="sergio" id="isergio"><label for="isergio">JOSÉ SÉRGIO SANTANA | SOLDADOR INDUSTRIAL</label></p>
                <p><input type="checkbox" name="matheussantos" id="imatheussantos"><label for="imatheussantos">MATHEUS SANTOS GOMES | OPERADOR MANTENEDOR ELÉTRICO</label></p>
                <p><input type="checkbox" name="alex" id="ialex"><label for="ialex">ALEX MENDONÇA DE OLIVEIRA | OPERADOR MANTENEDOR ELÉTRICO</label></p>

                <h3>TURMA B</h3>
                <p><input type="checkbox" name="evertonmendes" id="ievertonmendes"><label for="ievertonmendes">EVERTON MENDES SOARES | ENCARREGADO DE MECÂNICA</label></p>
                <p><input type="checkbox" name="alexandrefrancisco" id="ialexandrefrancisco"><label for="ialexandrefrancisco">ALEXANDRE FRANCISCO SOUZA DA SILVA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="robson" id="irobson"><label for="irobson">ROBSON SANTOS DA SILVA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="clebisson" id="iclebisson"><label for="iclebisson">CLEBISSON DOS SANTOS DA CRUZ | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="joelisson" id="ijoelisson"><label for="ijoelisson">JOELISSON DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="gabriel" id="igabriel"><label for="igabriel">GABRIEL SANTOS SILVA | OPERADOR MANTENEDOR MECÂNICO</label></p>
                <p><input type="checkbox" name="lucas" id="ilucas"><label for="ilucas">LUCAS SANTANA OLIVEIRA | SOLDADOR INDUSTRIAL</label></p>
                <p><input type="checkbox" name="ednailson" id="iednailson"><label for="iednailson">EDNAILSON BATISTA SANTOS | OPERADOR MANTENEDOR ELÉTRICO</label></p>
                <p><input type="checkbox" name="ricardo" id="iricardo"><label for="iricardo">RICARDO SANTOS DA SILVA | OPERADOR MANTENEDOR ELÉTRICO</label></p>

                <h3>TURMA C</h3>
            <p>
                <input type="checkbox" name="ector" id="iector" value="ECTOR ALAN OLIVEIRA DOS SANTOS | ENCARREGADO DE MECÂNICA">
                ECTOR ALAN OLIVEIRA DOS SANTOS | ENCARREGADO DE MECÂNICA
            </p>
            <p>
                <input type="checkbox" name="hudson" id="ihudson" value="HUDSON DAVID DE JESUS COSTA | OPERADOR MANTENEDOR MECÂNICO">
                HUDSON DAVID DE JESUS COSTA | OPERADOR MANTENEDOR MECÂNICO
            </p>
            <p>
                <input type="checkbox" name="dayvisson" id="idayvisson" value="DAYVISSON WALLACE SILVA OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO">
                DAYVISSON WALLACE SILVA OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO
            </p>
            <p>
                <input type="checkbox" name="josealisson" id="ijosealisson" value="JOSE ALISSON DE LIMA MORAIS | OPERADOR MANTENEDOR MECÂNICO">
                JOSE ALISSON DE LIMA MORAIS | OPERADOR MANTENEDOR MECÂNICO
            </p>
            <p>
                <input type="checkbox" name="alberto" id="ialberto" value="ALBERTO ALEF DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                ALBERTO ALEF DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO
            </p>
            <p>
                <input type="checkbox" name="rafael" id="irafael" value="RAFAEL SANTOS BISPO | OPERADOR MANTENEDOR MECÂNICO">
                RAFAEL SANTOS BISPO | OPERADOR MANTENEDOR MECÂNICO
            </p>
            <p>
                <input type="checkbox" name="cleisson" id="icleisson" value="CLEISSON CARDOSO DANTAS | CALDEIREIRO INDUSTRIAL">
                CLEISSON CARDOSO DANTAS | CALDEIREIRO INDUSTRIAL
            </p>
            <p>
                <input type="checkbox" name="antoniomarcos" id="iantoniomarcos" value="ANTÔNIO MARCOS SILVA CAMPOS | OPERADOR MANTENEDOR ELÉTRICO">
                ANTÔNIO MARCOS SILVA CAMPOS | OPERADOR MANTENEDOR ELÉTRICO
            </p>
            <p>
                <input type="checkbox" name="fernando" id="ifernando" value="FERNANDO PINA DOS ANJOS FILHO | OPERADOR MANTENEDOR ELÉTRICO">
                FERNANDO PINA DOS ANJOS FILHO | OPERADOR MANTENEDOR ELÉTRICO
            </p>
               
            <div>
                <h2 class="titulo2">TEMA DO DDSIG:</h2>
                <textarea name="tema_ddsig" id="itema_ddsig" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE MECÂNICA:</h2>
                <textarea name="atividades_mecanica" id="iatividades_mecanica" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE ELÉTRICA:</h2>
                <textarea name="atividades_eletrica" id="iatividades_eletrica" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ORGANIZAÇÃO E LIMPEZA:</h2>
                <textarea name="organizacao_limpeza" id="iorganizacao_limpeza" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE CALDEIRARIA:</h2>
                <textarea name="atividades_caldeiraria" id="iatividades_caldeiraria" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE TRANSPORTE:</h2>
                <textarea name="atividades_transporte" id="iatividades_transporte" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE MOBILIZAÇÃO:</h2>
                <textarea name="atividades_mobilizacao" id="iatividades_mobilizacao" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">ATIVIDADES DE LOGÍSTICA:</h2>
                <textarea name="atividades_logistica" id="iatividades_logistica" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">OUTRAS ATIVIDADES:</h2>
                <textarea name="outras_atividades" id="ioutras_atividades" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">PENDÊNCIAS:</h2>
                <textarea name="pendencias" id="ipendencias" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">OCORRÊNCIAS DE EHS:</h2>
                <textarea name="ocorrencias_ehs" id="iocorrencias_ehs" class="text-field"></textarea>
            </div>
            <div>
                <h2 class="titulo2">AUSÊNCIAS:</h2>
                <textarea name="ausencias" id="iausencias" class="text-field"></textarea>
            </div>
            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" style="font-weight: bold; padding: 10px 20px;">Enviar</button>
            </div>
        </form>
    </section>
</body>
</html>

