
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="/static/css/forms.css">
  
</head>
<body>
    <section>
        <img src="/static/imagem/Imagem%20do%20WhatsApp%20de%202024-07-30%20à(s)%2015.34.28_53f0670b.jpg" alt="Logo da support" id="logo">
        <h1>Formulário RDO</h1>
        <h2>Serviços Executados</h2>
        <p>Detalhamento de serviços realizados, para composição do RDO</p>

        <form action="/submit" method="post" autocomplete="on">
            <div>
                <h2 class="titulo2">DATA:</h2>
                <p>
                    <input type="date" name="data" id="idata" required>
                </p>
            </div>
            <div>
                <h2 class="titulo2">ENCARREGADO:</h2>
                <select name="encarregados" id="iencarregados" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="EDIDELSON SANTOS">EDIDELSON SANTOS</option>
                    <option value="WALISON TAVARES DOS SANTOS">WALISON TAVARES DOS SANTOS</option>
                    <option value="EVERTON MENDES SOARES">EVERTON MENDES SOARES</option>
                    <option value="ECTOR ALAN OLIVEIRA DOS SANTOS">ECTOR ALAN OLIVEIRA DOS SANTOS</option>
                </select>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURMA:</h2>
                <select name="turma" id="iturma" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="ADM">ADM</option>
                    <option value="TURMA A">TURMA A</option>
                    <option value="TURMA B">TURMA B</option>
                    <option value="TURMA C">TURMA C</option>
                </select>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURNO:</h2>
                <select name="turno" id="iturno" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="ADM">ADM</option>
                    <option value="TURNO B">TURNO B</option>
                    <option value="TURNO C">TURNO C</option>
                    <option value="TURNO D">TURNO D</option>
                </select>
            </div>
            <div>
            </div>
            <div>
                <h2 class="titulo2">PROFISSIONAIS PRESENTES:</h2>
                <h3>TURMA A</h3>
                <p>
                    <input type="checkbox" name="walison" id="iwalison" value="WALISON TAVARES DOS SANTOS | ENCARREGADO DE MECÂNICA">
                    WALISON TAVARES DOS SANTOS | ENCARREGADO DE MECÂNICA
                </p>
                <p>
                    <input type="checkbox" name="eraldo" id="ieraldo" value="ERALDO PEREIRA SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    ERALDO PEREIRA SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="eadson" id="iadson" value="ADSON ALVES SILVA | OPERADOR MANTENEDOR MECÂNICO">
                    ADSON ALVES SILVA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="jeizon" id="ijeizon" value="JEIZON NUNES SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    JEIZON NUNES SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="mvinicius" id="imvinicius" value="MARCOS VINÍCIUS SANTOS DE OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO">
                    MARCOS VINÍCIUS SANTOS DE OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="henrique" id="ihenrique" value="JOSÉ HENRIQUE NASCIMENTO SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    JOSÉ HENRIQUE NASCIMENTO SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="sergio" id="isergio" value="JOSÉ SÉRGIO SANTANA | SOLDADOR INDUSTRIAL">
                    JOSÉ SÉRGIO SANTANA | SOLDADOR INDUSTRIAL
                </p>
                <p>
                    <input type="checkbox" name="matheussantos" id="imatheussantos" value="MATHEUS SANTOS GOMES | OPERADOR MANTENEDOR ELÉTRICO">
                    MATHEUS SANTOS GOMES | OPERADOR MANTENEDOR ELÉTRICO
                </p>
                <p>
                    <input type="checkbox" name="alex" id="ialex" value="ALEX MENDONÇA DE OLIVEIRA | OPERADOR MANTENEDOR ELÉTRICO">
                    ALEX MENDONÇA DE OLIVEIRA | OPERADOR MANTENEDOR ELÉTRICO
                </p>
        
                <h3>TURMA B</h3>
                <p>
                    <input type="checkbox" name="evertonmendes" id="ievertonmendes" value="EVERTON MENDES SOARES | ENCARREGADO DE MECÂNICA">
                    EVERTON MENDES SOARES | ENCARREGADO DE MECÂNICA
                </p>
                <p>
                    <input type="checkbox" name="alexandrefrancisco" id="ialexandrefrancisco" value="ALEXANDRE FRANCISCO SOUZA DA SILVA | OPERADOR MANTENEDOR MECÂNICO">
                    ALEXANDRE FRANCISCO SOUZA DA SILVA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="robson" id="irobson" value="ROBSON SANTOS DA SILVA | OPERADOR MANTENEDOR MECÂNICO">
                    ROBSON SANTOS DA SILVA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="clebisson" id="iclebisson" value="CLEBISSON DOS SANTOS DA CRUZ | OPERADOR MANTENEDOR MECÂNICO">
                    CLEBISSON DOS SANTOS DA CRUZ | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="joelisson" id="ijoelisson" value="JOELISSON DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    JOELISSON DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="gabriel" id="igabriel" value="GABRIEL PATRICIO SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    GABRIEL PATRICIO SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="gerfeson" id="igerfeson" value="GERFESON SILVA SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    GERFESON SILVA SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="alexandrevinicius" id="ialexandrevinicius" value="ALEXANDRE VINÍCIUS SANTOS | CALDEIREIRO INDUSTRIAL">
                    ALEXANDRE VINÍCIUS SANTOS | CALDEIREIRO INDUSTRIAL
                </p>
                <p>
                    <input type="checkbox" name="dizio" id="idizio" value="ANTÔNIO DIZIO DA SILVA | OPERADOR MANTENEDOR ELÉTRICO">
                    ANTÔNIO DIZIO DA SILVA | OPERADOR MANTENEDOR ELÉTRICO
                </p>
        
                <h3>TURMA C</h3>
                <p>
                    <input type="checkbox" name="ector" id="iector" value="ECTOR ALAN OLIVEIRA DOS SANTOS | ENCARREGADO DE MECÂNICA">
                    ECTOR ALAN OLIVEIRA DOS SANTOS | ENCARREGADO DE MECÂNICA
                </p>
                <p>
                    <input type="checkbox" name="hudson" id="ihudson" value="HUDSON DAVID DE JESUS COSTA | OPERADOR MANTENEDOR MECÂNICO">
                    HUDSON DAVID DE JESUS COSTA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="dayvisson" id="idayvisson" value="DAYVISSON WALLACE SILVA OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO">
                    DAYVISSON WALLACE SILVA OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="josealisson" id="ijosealisson" value="JOSE ALISSON DE LIMA MORAIS | OPERADOR MANTENEDOR MECÂNICO">
                    JOSE ALISSON DE LIMA MORAIS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="alberto" id="ialberto" value="ALBERTO ALEF DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO">
                    ALBERTO ALEF DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="rafael" id="irafael" value="RAFAEL SANTOS BISPO | OPERADOR MANTENEDOR MECÂNICO">
                    RAFAEL SANTOS BISPO | OPERADOR MANTENEDOR MECÂNICO
                </p>
                <p>
                    <input type="checkbox" name="cleisson" id="icleisson" value="CLEISSON CARDOSO DANTAS | CALDEIREIRO INDUSTRIAL">
                    CLEISSON CARDOSO DANTAS | CALDEIREIRO INDUSTRIAL
                </p>
                <p>
                    <input type="checkbox" name="antoniomarcos" id="iantoniomarcos" value="ANTÔNIO MARCOS SILVA CAMPOS | OPERADOR MANTENEDOR ELÉTRICO">
                    ANTÔNIO MARCOS SILVA CAMPOS | OPERADOR MANTENEDOR ELÉTRICO
                </p>
                <p>
                    <input type="checkbox" name="fernando" id="ifernando" value="FERNANDO PINA DOS ANJOS FILHO | OPERADOR MANTENEDOR ELÉTRICO">
                    FERNANDO PINA DOS ANJOS FILHO | OPERADOR MANTENEDOR ELÉTRICO
            </div>
        </div>
            </div>
            <div class="emlinha">
                <h2>TÉCNICO DE SEGURANÇA NO TURNO:</h2>
                <select name="ts" id="its" class="seleções" required>
                    <option value="ALEXSANDRO CORREIA">ALEXSANDRO CORREIA</option>
                    <option value="BRUNO SANTOS">BRUNO SANTOS</option>
                    <option value="GILVANDO SANTANA">GILVANDO SANTANA</option>
                    <option value="AUSENTE">AUSENTE</option>
                </select>
            </div>
            <div>
                <h2>TEMA DO DDSIG:</h2>
                <textarea name="tema_ddsig" id="itdd" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE MECÂNICA:</h2>
                <textarea name="atividades_mecanica" id="iame" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE ELÉTRICA:</h2>
                <textarea name="atividades_eletrica" id="iaele" class="texto"></textarea>
            </div>
            <div>
                <h2>ORGANIZAÇÃO E LIMPEZA:</h2>
                <textarea name="organizacao_limpeza" id="ioli" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE CALDEIRARIA:</h2>
                <textarea name="atividades_caldeiraria" id="iaca" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE TRANSPORTE:</h2>
                <textarea name="atividades_transporte" id="iatr" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE MOBILIZAÇÃO:</h2>
                <textarea name="atividades_mobilizacao" id="iamo" class="texto"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES LOGÍSTICAS:</h2>
                <textarea name="atividades_logistica" id="ialo" class="texto"></textarea>
            </div>
            <div>
                <h2>OUTRAS ATIVIDADES:</h2>
                <textarea name="outras_atividades" id="ioat" class="texto"></textarea>
            </div>
            <div>
                <h2>PENDÊNCIAS:</h2>
                <textarea name="pendencias" id="ipen" class="texto"></textarea>
            </div>
            <div>
                <h2>OBSERVAÇÕES:</h2>
                <textarea name="observacoes" id="iobs" class="texto"></textarea>
            </div>
            <div>
                <h2>OCORRÊNCIAS EHS:</h2>
                <textarea name="ocorrencias_ehs" id="ioco" class="texto"></textarea>
            </div>
            <div>
                <h2>AUSÊNCIAS:</h2>
                <textarea name="ausencias" id="iaus" class="texto"></textarea>
            </div>
            <div class="botao">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </section>
</body>
</html>