<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="/static/css/forms.css">
</head>
<body>
    <section>
        <img src="/static/imagem/Imagem%20do%20WhatsApp%20de%202024-07-30%20à(s)%2015.34.28_53f0670b.jpg" alt="Logo da support" id="logo">
        <h1>Formulário RDO</h1>
        <h2>Serviços Executados</h2>
        <p>Detalhamento de serviços realizados, para composição do RDO</p>

        <form action="/submit" method="post" autocomplete="on">
            <div>
                <h2 class="titulo2">DATA:</h2>
                <p>
                    <input type="date" name="pasta" id="ipasta" required>
                </p>
            </div>
            <div>
                <h2 class="titulo2">ENCARREGADO:</h2>
                <select name="encarregados" id="iencarregados" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="EDIDELSON SANTOS">EDIDELSON SANTOS</option>
                    <option value="WALISON TAVARES DOS SANTOS">WALISON TAVARES DOS SANTOS</option>
                    <option value="EVERTON MENDES SOARES">EVERTON MENDES SOARES</option>
                    <option value="ECTOR ALAN OLIVEIRA DOS SANTOS">ECTOR ALAN OLIVEIRA DOS SANTOS</option>
                </select>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURMA:</h2>
                <select name="turma" id="iturma" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="ADM">ADM</option>
                    <option value="TURMA A">TURMA A</option>
                    <option value="TURMA B">TURMA B</option>
                    <option value="TURMA C">TURMA C</option>
                </select>
            </div>
            <div class="emlinha">
                <h2 class="titulo2">TURNO:</h2>
                <select name="turno" id="iturno" class="seleções" required>
                    <option value="">--- Escolha ---</option>
                    <option value="ADM">ADM</option>
                    <option value="TURNO B">TURNO B</option>
                    <option value="TURNO C">TURNO C</option>
                    <option value="TURNO D">TURNO D</option>
                </select>
            </div>
            <div>
                <h2 class="titulo2">PROFISSIONAIS PRESENTES:</h2>
                <h3>ADM</h3>
                    <p>
                        <input type="checkbox" name="edidelson" id="iedidelson"><label for="iedidelson">EDIDELSON SANTOS | ENCARREGADO DE MECÂNICA</label>
                    </p>
                    <p>
                        <input type="checkbox" name="nadilson" id="inadilson"><label for="inadilson">NADILSON MESSIAS DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="werton" id="iwerton"><label for="iwerton">WERTON ALVES SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="lindurval" id="ilindurval"><label for="ilindurval">LINDURVAL GOMES DO NASCIMENTO | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="maiko" id="imaiko"><label for="imaiko">MAIKO DOUGLAS DA SILVA COSTA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="quiterio" id="iquiterio"><label for="iquiterio">QUITERIO DIONISIO DA SILVA | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="wevicles" id="wevicles"><label for="iwevicles">WEVICLES OLIVEIRA BATISTA DOS SANTOS | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="manoel" id="imanoel"><label for="imanoel">MANOEL MESSIAS DOS SANTOS | SOLDADOR INDUSTRIAL</label>
                    </p>
                    <p>
                        <input type="checkbox" name="humberto" id="ihumberto"><label for="ihumberto">HUMBERTO RODRIGUES DOS SANTOS NETO | CALDEIREIRO INDUSTRIAL</label>
                    </p>
                    <p>
                        <input type="checkbox" name="matheus" id="imatheus"><label for="imatheus">JOSÉ MATHEUS SANTOS SOUZA | AUXILIAR DE OPERAÇÃO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="pedro" id="ipedro"><label for="ipedro">JOÃO PEDRO DA SILVA SANTOS | AUXILIAR DE OPERAÇÃO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="helyel" id="ihelyel"><label for="ihelyel">HELYEL SANTANA SILVA | AUXILIAR DE OPERAÇÃO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="francisco" id="ifrancisco"><label for="ifrancisco">FRANCISCO CICERO DA SILVA | OPERADOR DE EQUIPAMENTOS</label>
                    </p>
                    <p>
                        <input type="checkbox" name="jeova" id="ijeova"><label for="ijeova">JEOVÁ SANTOS SILVA JÚNIOR | OPERADOR DE EQUIPAMENTOS</label>
                    </p>
                    <h3>TURMA A</h3>
                    <p>
                        <input type="checkbox" name="walison" id="iwalison"><label for="iwalison">WALISON TAVARES DOS SANTOS | ENCARREGADO DE MECÂNICA</label>
                    </p>
                    <p>
                        <input type="checkbox" name="eraldo" id="ieraldo"><label for="ieraldo">ERALDO PEREIRA SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="eadson" id="iadson"><label for="iadson">ADSON ALVES SILVA | OPERADOR MANTENEDOR MECÂNICO
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="jeizon" id="ijeizon"><label for="ijeizon">JEIZON NUNES SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="mvinicius" id="imvinicius"><label for="imvinicius">MARCOS VINÍCIUS SANTOS DE OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="henrique" id="ihenrique"><label for="ihenrique">JOSÉ HENRIQUE NASCIMENTO SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="sergio" id="isergio"><label for="isergio">JOSÉ SÉRGIO SANTANA | SOLDADOR INDUSTRIAL</label>
                    </p>
                    <p>
                        <input type="checkbox" name="matheussantos" id="imatheussantos"><label for="imatheussantos">MATHEUS SANTOS GOMES | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="alex" id="ialex"><label for="ialex">ALEX MENDONÇA DE OLIVEIRA | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <h3>TURMA B</h3>
                    <p>
                        <input type="checkbox" name="evertonmendes" id="ievertonmendes"><label for="ievertonmendes">EVERTON MENDES SOARES | ENCARREGADO DE MECÂNICA</label>
                    </p>
                    <p>
                        <input type="checkbox" name="aIlexandrefrancisco" id="ialexandrefrancisco"><label for="ialexandrefrancisco">ALEXANDRE FRANCISCO SOUZA DA SILVA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="robson" id="irobson"><label for="irobson">ROBSON SANTOS DA SILVA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="clebisson" id="iclebisson"><label for="iclebisson">CLEBISSON DOS SANTOS DA CRUZ | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="joelisson" id="ijoelisson"><label for="ijoelisson">JOELISSON DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="gabriel" id="igabriel"><label for="igabriel">GABRIEL PATRICIO SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="gerfeson" id="igerfeson"><label for="igerfeson">GERFESON SILVA SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="alexandrevinicius" id="ialexandrevinicius"><label for="ialexandrevinicius">ALEXANDRE VINÍCIUS SANTOS | CALDEIREIRO INDUSTRIAL</label>
                    </p>
                    <p>
                        <input type="checkbox" name="dizio" id="idizio"><label for="idizio">ANTÔNIO DIZIO DA SILVA | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <h3>TURMA C</h3>
                    <p>
                        <input type="checkbox" name="ector" id="iector"><label for="iector">ECTOR ALAN OLIVEIRA DOS SANTOS | ENCARREGADO DE MECÂNICA</label>
                    </p>
                    <p>
                        <input type="checkbox" name="hudson" id="ihudson"><label for="ihudson">HUDSON DAVID DE JESUS COSTA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="dayvisson" id="idayvisson"><label for="idayvisson">DAYVISSON WALLACE SILVA OLIVEIRA | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="josealisson" id="ijosealisson"><label for="ijosealisson">JOSE ALISSON DE LIMA MORAIS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="alberto" id="ialberto"><label for="ialberto">ALBERTO ALEF DOS SANTOS | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="rafael" id="irafael"><label for="irafael">RAFAEL SANTOS BISPO | OPERADOR MANTENEDOR MECÂNICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="cleisson" id="icleisson"><label for="icleisson">CLEISSON CARDOSO DANTAS | CALDEIREIRO INDUSTRIAL</label>
                    </p>
                    <p>
                        <input type="checkbox" name="antoniomarcos" id="iantoniomarcos"><label for="iantoniomarcos">ANTÔNIO MARCOS SILVA CAMPOS | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    <p>
                        <input type="checkbox" name="fernando" id="ifernando"><label for="ifernando">FERNANDO PINA DOS ANJOS FILHO | OPERADOR MANTENEDOR ELÉTRICO</label>
                    </p>
                    </optgroup>
            </div>
            <div class="emlinha">
                <h2>TÉCNICO DE SEGURANÇA NO TURNO:</h2>
                <select name="ts" id="its" class="seleções" required>
                    <option value="ALEXSANDRO CORREIA">ALEXSANDRO CORREIA</option>
                    <option value="BRUNO SANTOS">BRUNO SANTOS</option>
                    <option value="GILVANDO SANTANA">GILVANDO SANTANA</option>
                    <option value="AUSENTE">AUSENTE</option>
                </select>
            </div>
            <div>
                <h2>TEMA DO DDSIG:</h2>
                <textarea name="tdd" id="itdd" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE MECÂNICA:</h2>
                <P>Listar os profissionais envolvidos. Não havendo atividade, preencher com N/A. O mesmo para as demais atividades</P>
                <textarea name="ame" id="iame" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE ELÉTRICA:</h2>
                <textarea name="ele" id="iaele" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ORGANIZAÇÃO E LIMPEZA:</h2>
                <textarea name="oli" id="ioli" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE CALDEIRARIA:</h2>
                <textarea name="aca" id="iaca" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE TRANSPORTE:</h2>
                <textarea name="atr" id="iatr" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES DE MOBILIZAÇÃO:</h2>
                <textarea name="amo" id="iamo" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>ATIVIDADES LOGÍSTICAS:</h2>
                <textarea name="alo" id="ialo" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>OUTRAS ATIVIDADES:</h2>
                <textarea name="oat" id="ioat" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>PENDÊNCIAS:</h2>
                <textarea name="pen" id="ipen" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>OBSERVAÇÕES:</h2>
                <textarea name="obs" id="iobs" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>OCORRÊNCIAS EHS:</h2>
                <P>Relatar ocorrência de EHS (incidentes, acidentes, quase acidentes, inspeções externas), informando partes envolvidas. Atividades de rotina dos TS's não precisam ser relatas aqui.</P>
                <textarea name="oco" id="ioco" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div>
                <h2>AUSÊNCIAS:</h2>
                <textarea name="aus" id="iaus" class="texto" placeholder="---PREENCHA O CAMPO---"></textarea>
            </div>
            <div class="botao">
                <button type="submit" id="enviar">Enviar</button>
            </div>
        </form>
    </section>
</body>
</html>