<!DOCTYPE html>
<html>
<head>
    <title>Respostas</title>
    <link rel="stylesheet" href="/static/css/responses.css">
    
</head>
<body>
    <h2>Respostas Submetidas</h2>
    <table>
        <tr>
            <th class="cabeçalho">ID</th>
            <th class="cabeçalho">Data</th>
            <th class="cabeçalho">Turma</th>
            <th class="cabeçalho">Pendências</th>
            <th class="cabeçalho">Tema do DDSIG</th>
            <th class="cabeçalho">Ocorrências de EHS</th>
            <th class="cabeçalho">Atividades de Mecânica</th>
            <th class="cabeçalho">Atividades de Elétrica</th>
            <th class="cabeçalho">Organização e Limpeza</th>
            <th class="cabeçalho">Atividades de Caldeiraria</th>
            <th class="cabeçalho">Atividades de Transporte</th>
            <th class="cabeçalho">Atividades de Mobilização</th>
            <th class="cabeçalho">Atividades de Logística</th>
            <th class="cabeçalho">Outras Atividades</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
