<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respostas</title>
</head>
<body>
    <h1>Respostas dos Relatórios</h1>
    <form action="/responses" method="get">
        <label for="encarregado">Filtrar por Encarregado:</label>
        <select name="encarregado" id="encarregado">
            <option value="Todos" {% if selected_encarregado == 'Todos' %}selected{% endif %}>Todos</option>
            <!-- Adicione opções aqui com base nos encarregados disponíveis -->
        </select>
        <button type="submit">Filtrar</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>data</th>
                <th>Encarregados</th>
                <th>Profissionais Presentes</th>
                <th>Turma</th>
                <th>Turno</th>
                <th>Tema do DDSIG</th>
                <th>Atividades de Mecânica</th>
                <th>Atividades de Elétrica</th>
                <th>Organização e Limpeza</th>
                <th>Atividades de Caldeiraria</th>
                <th>Atividades de Transporte</th>
                <th>Atividades de Mobilização</th>
                <th>Atividades Logísticas</th>
                <th>Outras Atividades</th>
                <th>Pendências</th>
                <th>Ocorrências EHS</th>
                <th>Ausências</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
                <td>{{ row[12] }}</td>
                <td>{{ row[13] }}</td>
                <td>{{ row[14] }}</td>
                <td>{{ row[15] }}</td>
                <td>{{ row[16] }}</td>
                <td>{{ row[17] }}</td>
                <td><a href="/generate_pdf?id={{ row[0] }}">Gerar PDF</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Voltar</a>
</body>
</html>
